body{
background-image: url(gato.jpg);
background-size: cover;
background-repeat: no-repeat

}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: cornsilk;
}

#wrap input{
    border-radius: 5px;
    border-width: 2px;
    width: 40%;
    height: 40px;
    background-color: rgb(184, 233, 255);
}

#botoes, #saida, #wrap{
    margin-top: 15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    background-color: rgb(240, 255, 244);
    margin-right: 30%;
    margin-left: 30%;
}

button{
    width: 30%;
    height: 35px;
    background-color:rgb(0, 95, 139);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

button:hover, tr:hover{
    background-color:rgb(0, 247, 255);
    color: black;
}

#saida input{
    height: 20px;
    width: 20px;
}

table{
    border: solid black;
    border-radius: 10px;
    background-color: rgb(0, 95, 139);
    color: white;
}

td{
    border: 1px solid white;
    border-radius: 10px;
}
